* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	width: 100vw;
}
.top-bar {
	width: 100%;
	height: 3px;
}
.Afli-logo {
	width: auto;
	height: auto;
	margin-left: 10px;
}
.buttonContainer: {
	display: 'flex';
	flexdirection: 'row';
	justifycontent: 'space-between';
}

.text-ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.css-1hv8oq8-MuiStepLabel-label.Mui-active {
	color: #ff6002 !important;
	font-size: 14px;
	font-style: Montserrat;
	font-weight: 700;
}

.css-1hv8oq8-MuiStepLabel-label {
	color: #000000 !important;
	font-size: 14px;
	font-style: Montserrat;
	font-weight: 700;
}
.css-1hv8oq8-MuiStepLabel-label.Mui-completed {
	color: #028e8b !important;
	font-size: 14px;
	font-style: Montserrat;
	font-weight: 700;
}
